h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

.title-card {
    background-color: #D95354;
    min-width: 500px;
    max-width: 250px;
    padding: 1em 2em;
    text-align: center;
    border-radius: 0.75em;
    margin: 1em;
    box-shadow: #101010 3px 3px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 0.75em;
    }

    .title-card {
        max-width: 450px;
    }
}
